html {
  height: 100%;
  width: 100%;
}

body {
  display: table;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  color: black;
  font-size: 20px;
  padding-bottom: 100px;
}

.half {
  height: 50%;
  position: relative;
  background-color: white;
}

.top {
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translate(-50%, -100%);
  animation-name: translate-up;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

.bottom {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding-top: 10px;
  animation-name: appear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
  text-align: center;
  opacity: 0.0;
}

@keyframes translate-up {
  from {top: 170%;}
  to {top: 105%;}
}

@keyframes translate-down {
  from {top: -10%;}
  to {top: 0%;}
}

@keyframes appear {
  from {opacity: 0.0;}
  to {opacity: 1.0;}
}
